NUXT_MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@cluster.example.mongodb.net/?retryWrites=true&w=majority
NUXT_MONGODB_DB=noticiero_maesvida
NUXT_SESSION_SECRET=reemplaza-esto-por-al-menos-32-caracteres-aleatorios
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxxxxxxx
